h1{font-size:2em; text-rendering: optimizeLegibility;     }
h2{font-size:1.8em; text-rendering: optimizeLegibility;     }
h3{font-size:1.6em; text-rendering: optimizeLegibility;     }
h4{font-size:1.4em; text-rendering: optimizeLegibility;     }
      
.ttu{text-transform:uppercase      }
.ttl{text-transform:lowercase      }
.ttc{text-transform:capitalize      }
.tac{text-align:center      }
.tar{text-align:right      }
.pab{position:absolute      }
.pst{position:static      }
.pfx{position:fixed      }
.pre{position:relative      }
      
      
      
.p0{padding:0px      }
.p5{padding:5px      }
.p10{padding:10px      }
.p15{padding:15px      }
.p20{padding:20px      }
.p5l{padding:0 0  0   5px}
.p10l{padding:0 0  0   10px}
.p15l{padding:0 0  0   15px}
.p20l{padding:0 0  0   20px}
.p5r{padding:0 5px  0   0}
.p10r{padding:0 10px  0   0}
.p15r{padding:0 15px  0   0}
.p20r{padding:0 20px  0   0}
.p5t{padding: 5px 0  0   0}
.p10t{padding:10px 0  0   0}
.p15t{padding:15px 0  0   0}
.p20t{padding:20px 0  0   0}
.p5b{padding:0 0   5px   0}
.p10b{padding:0 0  10px   0}
.p15b{padding:0 0  15px   0}
.p20b{padding:0 0  20px   0}
.p5lr{padding:0  5px     }
.p10lr{padding:0 10px     }
.p15lr{padding:0 15px     }
.p20lr{padding:0 20px     }
.p5tb{padding: 5px 0     }
.p10tb{padding:10px 0     }
.p15tb{padding:15px 0     }
.p20tb{padding:20px 0     }
.p5rb{padding:0  5px   5px   0}
.p10rb{padding:0 10px  10px   0}
.p15rb{padding:0 15px  15px   0}
.p20rb{padding:0 20px  20px   0}
      
.m0{margin:0px      }
.m5{margin:5px      }
.m10{margin:10px      }
.m15{margin:15px      }
.m20{margin:20px      }
.m5l{margin:0 0  0   5px}
.m10l{margin:0 0  0   10px}
.m15l{margin:0 0  0   15px}
.m20l{margin:0 0  0   20px}
.m5r{margin:0 5px  0   0}
.m10r{margin:0 10px  0   0}
.m15r{margin:0 15px  0   0}
.m20r{margin:0 20px  0   0}
.m5t{margin: 5px 0  0   0}
.m10t{margin:10px 0  0   0}
.m15t{margin:15px 0  0   0}
.m20t{margin:20px 0  0   0}
.m5b{margin:0 0   5px   0}
.m10b{margin:0 0  10px   0}
.m15b{margin:0 0  15px   0}
.m20b{margin:0 0  20px   0}
.m5lr{margin:0  5px     }
.m10lr{margin:0 10px     }
.m15lr{margin:0 15px     }
.m20lr{margin:0 20px     }
.m5tb{margin: 5px 0     }
.m10tb{margin:10px 0     }
.m15tb{margin:15px 0     }
.m20tb{margin:20px 0     }
.m5rb{margin:0  5px   5px   0}
.m10rb{margin:0 10px  10px   0}
.m15rb{margin:0 15px  15px   0}
.m20rb{margin:0 20px  20px   0}
      
      
.w10{width:10%      }
.w20{width:20%      }
.w30{width:30%      }
w33{width:33,33%      }
.w40{width:40%      }
.w50{width:50%      }
.w60{width:60%      }
.w70{width:70%      }
.w80{width:80%      }
.w90{width:90%      }
.w91{width:91%      }
.w92{width:92%      }
.w93{width:93%      }
.w94{width:94%      }
.w95{width:95%      }
.w96{width:96%      }
.w97{width:97%      }
.w98{width:98%      }
.w99{width:99%      }
      
.ws100{width:100px      }
.ws150{width:150px      }
.ws200{width:200px      }
.ws250{width:250px      }
.ws300{width:300px      }
.ws350{width:350px      }
.ws400{width:400px      }
.ws450{width:450px      }
.ws500{width:500px      }
.ws550{width:550px      }
.ws600{width:600px      }
.ws650{width:650px      }
.ws700{width:700px      }
.ws750{width:750px      }
.ws800{width:800px      }
.ws850{width:850px      }
.ws900{width:900px      }
.ws950{width:950px      }
      
.l{float:left      }
.r{float:right      }
