html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;border:0;outline:0;font-size:100%;background:transparent}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
html,body{ height: 100%; position: relative; margin: 0; padding: 0; font-size: 100%; }
h1,h2,h3,h4,h5{text-rendering: optimizeLegibility; text-decoration: none}
tal{text-align: left;}
.tar{text-align: right;}
.tac{text-align: center;}
.taj{text-align: justify}
.tdn{text-decoration: none}
.ttn{text-transform:none}
.ttl{text-transform:lowercase}
.ttu{text-transform:uppercase}
.fso{font-style: oblique}
.fsi{font-style: italic}
.tar{text-align:right}
.tac{text-align:center}
.fwn{font-weight: normal}
.fwb{font-weight: bold}
.ffa{font-family: Arial, Helvetica, sans-serif}
.ffab{font-family: 'Arial Black', Gadget, sans-serif}
.ffb{font-family: 'Bookman Old Style', serif}
.ffcs{font-family: 'Comic Sans MS', cursive}
.ffco{font-family: Courier, monospace}
.ffcn{font-family: 'Courier New', Courier, monospace}
.ffg{font-family: Garamond, serif}
.ffge{font-family: Georgia, serif}
.ffi{font-family: Impact, Charcoal, sans-serif}
.fflc{font-family: 'Lucida Console', Monaco, monospace}
.ffls{font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif}
.ffgms{font-family: 'MS Sans Serif', Geneva, sans-serif}
.ffny{font-family: 'MS Serif', 'New York', sans-serif}
.ffpl{font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif}
.ffs{font-family: Symbol, sans-serif}
.fft{font-family: Tahoma, Geneva, sans-serif}
.fftnr{font-family: 'Times New Roman', Times, serif}
.fftr{font-family: 'Trebuchet MS', Helvetica, sans-serif}
.ffv{font-family: Verdana, Geneva, sans-serif}
.ffw{font-family: Webdings, sans-serif}
.ffzd{font-family: Wingdings, 'Zapf Dingbats', sans-serif}
.dn{display: none}
.db{display: block;}
ul.lsn li{list-style:none}
ul.lidline li{display:  inline-block}
.pre{position:relative}
.pab{position:absolute}
.pst{position:static}
.pfx{position:fixed}
.b{bottom:0}
.r{float:right}
.l{float:left}
.ma{margin:0 auto}
.m1{margin:1px}
.m2{margin:2px}
.m3{margin:3px}
.m4{margin:4px}
.m5{margin:5px}
.m6{margin:6px}
.m7{margin:7px}
.m8{margin:8px}
.m9{margin:9px}
.m10{margin:10px}
.m11{margin:11px}
.m12{margin:12px}
.m13{margin:13px}
.m14{margin:14px}
.m15{margin:15px}
.m16{margin:16px}
.m17{margin:17px}
.m18{margin:18px}
.m19{margin:19px}
.m20{margin:20px}
.m21{margin:21px}
.m22{margin:22px}
.m23{margin:23px}
.m24{margin:24px}
.m25{margin:25px}
.m26{margin:26px}
.m27{margin:27px}
.m28{margin:28px}
.m29{margin:29px}
.m30{margin:30px}
.m31{margin:31px}
.m32{margin:32px}
.m33{margin:33px}
.m34{margin:34px}
.m35{margin:35px}
.m36{margin:36px}
.m37{margin:37px}
.m38{margin:38px}
.m39{margin:39px}
.m40{margin:40px}
.m41{margin:41px}
.m42{margin:42px}
.m43{margin:43px}
.m44{margin:44px}
.m45{margin:45px}
.m46{margin:46px}
.m47{margin:47px}
.m48{margin:48px}
.m49{margin:49px}
.m50{margin:50px}
.m0{margin:0px}
.p1{padding:1px}
.p2{padding:2px}
.p3{padding:3px}
.p4{padding:4px}
.p5{padding:5px}
.p6{padding:6px}
.p7{padding:7px}
.p8{padding:8px}
.p9{padding:9px}
.p10{padding:10px}
.p11{padding:11px}
.p12{padding:12px}
.p13{padding:13px}
.p14{padding:14px}
.p15{padding:15px}
.p16{padding:16px}
.p17{padding:17px}
.p18{padding:18px}
.p19{padding:19px}
.p20{padding:20px}
.p21{padding:21px}
.p22{padding:22px}
.p23{padding:23px}
.p24{padding:24px}
.p25{padding:25px}
.p26{padding:26px}
.p27{padding:27px}
.p28{padding:28px}
.p29{padding:29px}
.p30{padding:30px}
.p31{padding:31px}
.p32{padding:32px}
.p33{padding:33px}
.p34{padding:34px}
.p35{padding:35px}
.p36{padding:36px}
.p37{padding:37px}
.p38{padding:38px}
.p39{padding:39px}
.p40{padding:40px}
.p41{padding:41px}
.p42{padding:42px}
.p43{padding:43px}
.p44{padding:44px}
.p45{padding:45px}
.p46{padding:46px}
.p47{padding:47px}
.p48{padding:48px}
.p49{padding:49px}
.p50{padding:50px}
.p0{padding:0px}
.m1l{margin:0 0 0 1px}
.m2l{margin:0 0 0 2px}
.m3l{margin:0 0 0 3px}
.m4l{margin:0 0 0 4px}
.m5l{margin:0 0 0 5px}
.m6l{margin:0 0 0 6px}
.m7l{margin:0 0 0 7px}
.m8l{margin:0 0 0 8px}
.m9l{margin:0 0 0 9px}
.m10l{margin:0 0 0 10px}
.m11l{margin:0 0 0 11px}
.m12l{margin:0 0 0 12px}
.m13l{margin:0 0 0 13px}
.m14l{margin:0 0 0 14px}
.m15l{margin:0 0 0 15px}
.m16l{margin:0 0 0 16px}
.m17l{margin:0 0 0 17px}
.m18l{margin:0 0 0 18px}
.m19l{margin:0 0 0 19px}
.m20l{margin:0 0 0 20px}
.m21l{margin:0 0 0 21px}
.m22l{margin:0 0 0 22px}
.m23l{margin:0 0 0 23px}
.m24l{margin:0 0 0 24px}
.m25l{margin:0 0 0 25px}
.m26l{margin:0 0 0 26px}
.m27l{margin:0 0 0 27px}
.m28l{margin:0 0 0 28px}
.m29l{margin:0 0 0 29px}
.m30l{margin:0 0 0 30px}
.m31l{margin:0 0 0 31px}
.m32l{margin:0 0 0 32px}
.m33l{margin:0 0 0 33px}
.m34l{margin:0 0 0 34px}
.m35l{margin:0 0 0 35px}
.m36l{margin:0 0 0 36px}
.m37l{margin:0 0 0 37px}
.m38l{margin:0 0 0 38px}
.m39l{margin:0 0 0 39px}
.m40l{margin:0 0 0 40px}
.m41l{margin:0 0 0 41px}
.m42l{margin:0 0 0 42px}
.m43l{margin:0 0 0 43px}
.m44l{margin:0 0 0 44px}
.m45l{margin:0 0 0 45px}
.m46l{margin:0 0 0 46px}
.m47l{margin:0 0 0 47px}
.m48l{margin:0 0 0 48px}
.m49l{margin:0 0 0 49px}
.m50l{margin:0 0 0 50px}
.p1l{padding:0 0 0 1px}
.p2l{padding:0 0 0 2px}
.p3l{padding:0 0 0 3px}
.p4l{padding:0 0 0 4px}
.p5l{padding:0 0 0 5px}
.p6l{padding:0 0 0 6px}
.p7l{padding:0 0 0 7px}
.p8l{padding:0 0 0 8px}
.p9l{padding:0 0 0 9px}
.p10l{padding:0 0 0 10px}
.p11l{padding:0 0 0 11px}
.p12l{padding:0 0 0 12px}
.p13l{padding:0 0 0 13px}
.p14l{padding:0 0 0 14px}
.p15l{padding:0 0 0 15px}
.p16l{padding:0 0 0 16px}
.p17l{padding:0 0 0 17px}
.p18l{padding:0 0 0 18px}
.p19l{padding:0 0 0 19px}
.p20l{padding:0 0 0 20px}
.p21l{padding:0 0 0 21px}
.p22l{padding:0 0 0 22px}
.p23l{padding:0 0 0 23px}
.p24l{padding:0 0 0 24px}
.p25l{padding:0 0 0 25px}
.p26l{padding:0 0 0 26px}
.p27l{padding:0 0 0 27px}
.p28l{padding:0 0 0 28px}
.p29l{padding:0 0 0 29px}
.p30l{padding:0 0 0 30px}
.p31l{padding:0 0 0 31px}
.p32l{padding:0 0 0 32px}
.p33l{padding:0 0 0 33px}
.p34l{padding:0 0 0 34px}
.p35l{padding:0 0 0 35px}
.p36l{padding:0 0 0 36px}
.p37l{padding:0 0 0 37px}
.p38l{padding:0 0 0 38px}
.p39l{padding:0 0 0 39px}
.p40l{padding:0 0 0 40px}
.p41l{padding:0 0 0 41px}
.p42l{padding:0 0 0 42px}
.p43l{padding:0 0 0 43px}
.p44l{padding:0 0 0 44px}
.p45l{padding:0 0 0 45px}
.p46l{padding:0 0 0 46px}
.p47l{padding:0 0 0 47px}
.p48l{padding:0 0 0 48px}
.p49l{padding:0 0 0 49px}
.p50l{padding:0 0 0 50px}
.m1r{margin:0 1px 0 0 }
.m2r{margin:0 2px 0 0 }
.m3r{margin:0 3px 0 0 }
.m4r{margin:0 4px 0 0 }
.m5r{margin:0 5px 0 0 }
.m6r{margin:0 6px 0 0 }
.m7r{margin:0 7px 0 0 }
.m8r{margin:0 8px 0 0 }
.m9r{margin:0 9px 0 0 }
.m10r{margin:0 10px 0 0 }
.m11r{margin:0 11px 0 0 }
.m12r{margin:0 12px 0 0 }
.m13r{margin:0 13px 0 0 }
.m14r{margin:0 14px 0 0 }
.m15r{margin:0 15px 0 0 }
.m16r{margin:0 16px 0 0 }
.m17r{margin:0 17px 0 0 }
.m18r{margin:0 18px 0 0 }
.m19r{margin:0 19px 0 0 }
.m20r{margin:0 20px 0 0 }
.m21r{margin:0 21px 0 0 }
.m22r{margin:0 22px 0 0 }
.m23r{margin:0 23px 0 0 }
.m24r{margin:0 24px 0 0 }
.m25r{margin:0 25px 0 0 }
.m26r{margin:0 26px 0 0 }
.m27r{margin:0 27px 0 0 }
.m28r{margin:0 28px 0 0 }
.m29r{margin:0 29px 0 0 }
.m30r{margin:0 30px 0 0 }
.m31r{margin:0 31px 0 0 }
.m32r{margin:0 32px 0 0 }
.m33r{margin:0 33px 0 0 }
.m34r{margin:0 34px 0 0 }
.m35r{margin:0 35px 0 0 }
.m36r{margin:0 36px 0 0 }
.m37r{margin:0 37px 0 0 }
.m38r{margin:0 38px 0 0 }
.m39r{margin:0 39px 0 0 }
.m40r{margin:0 40px 0 0 }
.m41r{margin:0 41px 0 0 }
.m42r{margin:0 42px 0 0 }
.m43r{margin:0 43px 0 0 }
.m44r{margin:0 44px 0 0 }
.m45r{margin:0 45px 0 0 }
.m46r{margin:0 46px 0 0 }
.m47r{margin:0 47px 0 0 }
.m48r{margin:0 48px 0 0 }
.m49r{margin:0 49px 0 0 }
.m50r{margin:0 50px 0 0 }
.p1r{padding:0 1px 0 0 }
.p2r{padding:0 2px 0 0 }
.p3r{padding:0 3px 0 0 }
.p4r{padding:0 4px 0 0 }
.p5r{padding:0 5px 0 0 }
.p6r{padding:0 6px 0 0 }
.p7r{padding:0 7px 0 0 }
.p8r{padding:0 8px 0 0 }
.p9r{padding:0 9px 0 0 }
.p10r{padding:0 10px 0 0 }
.p11r{padding:0 11px 0 0 }
.p12r{padding:0 12px 0 0 }
.p13r{padding:0 13px 0 0 }
.p14r{padding:0 14px 0 0 }
.p15r{padding:0 15px 0 0 }
.p16r{padding:0 16px 0 0 }
.p17r{padding:0 17px 0 0 }
.p18r{padding:0 18px 0 0 }
.p19r{padding:0 19px 0 0 }
.p20r{padding:0 20px 0 0 }
.p21r{padding:0 21px 0 0 }
.p22r{padding:0 22px 0 0 }
.p23r{padding:0 23px 0 0 }
.p24r{padding:0 24px 0 0 }
.p25r{padding:0 25px 0 0 }
.p26r{padding:0 26px 0 0 }
.p27r{padding:0 27px 0 0 }
.p28r{padding:0 28px 0 0 }
.p29r{padding:0 29px 0 0 }
.p30r{padding:0 30px 0 0 }
.p31r{padding:0 31px 0 0 }
.p32r{padding:0 32px 0 0 }
.p33r{padding:0 33px 0 0 }
.p34r{padding:0 34px 0 0 }
.p35r{padding:0 35px 0 0 }
.p36r{padding:0 36px 0 0 }
.p37r{padding:0 37px 0 0 }
.p38r{padding:0 38px 0 0 }
.p39r{padding:0 39px 0 0 }
.p40r{padding:0 40px 0 0 }
.p41r{padding:0 41px 0 0 }
.p42r{padding:0 42px 0 0 }
.p43r{padding:0 43px 0 0 }
.p44r{padding:0 44px 0 0 }
.p45r{padding:0 45px 0 0 }
.p46r{padding:0 46px 0 0 }
.p47r{padding:0 47px 0 0 }
.p48r{padding:0 48px 0 0 }
.p49r{padding:0 49px 0 0 }
.p50r{padding:0 50px 0 0 }
.m1t{margin:1px 0 0 0 }
.m2t{margin:2px 0 0 0 }
.m3t{margin:3px 0 0 0 }
.m4t{margin:4px 0 0 0 }
.m5t{margin:5px 0 0 0 }
.m6t{margin:6px 0 0 0 }
.m7t{margin:7px 0 0 0 }
.m8t{margin:8px 0 0 0 }
.m9t{margin:9px 0 0 0 }
.m10t{margin:10px 0 0 0 }
.m11t{margin:11px 0 0 0 }
.m12t{margin:12px 0 0 0 }
.m13t{margin:13px 0 0 0 }
.m14t{margin:14px 0 0 0 }
.m15t{margin:15px 0 0 0 }
.m16t{margin:16px 0 0 0 }
.m17t{margin:17px 0 0 0 }
.m18t{margin:18px 0 0 0 }
.m19t{margin:19px 0 0 0 }
.m20t{margin:20px 0 0 0 }
.m21t{margin:21px 0 0 0 }
.m22t{margin:22px 0 0 0 }
.m23t{margin:23px 0 0 0 }
.m24t{margin:24px 0 0 0 }
.m25t{margin:25px 0 0 0 }
.m26t{margin:26px 0 0 0 }
.m27t{margin:27px 0 0 0 }
.m28t{margin:28px 0 0 0 }
.m29t{margin:29px 0 0 0 }
.m30t{margin:30px 0 0 0 }
.m31t{margin:31px 0 0 0 }
.m32t{margin:32px 0 0 0 }
.m33t{margin:33px 0 0 0 }
.m34t{margin:34px 0 0 0 }
.m35t{margin:35px 0 0 0 }
.m36t{margin:36px 0 0 0 }
.m37t{margin:37px 0 0 0 }
.m38t{margin:38px 0 0 0 }
.m39t{margin:39px 0 0 0 }
.m40t{margin:40px 0 0 0 }
.m41t{margin:41px 0 0 0 }
.m42t{margin:42px 0 0 0 }
.m43t{margin:43px 0 0 0 }
.m44t{margin:44px 0 0 0 }
.m45t{margin:45px 0 0 0 }
.m46t{margin:46px 0 0 0 }
.m47t{margin:47px 0 0 0 }
.m48t{margin:48px 0 0 0 }
.m49t{margin:49px 0 0 0 }
.m50t{margin:50px 0 0 0 }
.p1t{padding:1px 0 0 0 }
.p2t{padding:2px 0 0 0 }
.p3t{padding:3px 0 0 0 }
.p4t{padding:4px 0 0 0 }
.p5t{padding:5px 0 0 0 }
.p6t{padding:6px 0 0 0 }
.p7t{padding:7px 0 0 0 }
.p8t{padding:8px 0 0 0 }
.p9t{padding:9px 0 0 0 }
.p10t{padding:10px 0 0 0 }
.p11t{padding:11px 0 0 0 }
.p12t{padding:12px 0 0 0 }
.p13t{padding:13px 0 0 0 }
.p14t{padding:14px 0 0 0 }
.p15t{padding:15px 0 0 0 }
.p16t{padding:16px 0 0 0 }
.p17t{padding:17px 0 0 0 }
.p18t{padding:18px 0 0 0 }
.p19t{padding:19px 0 0 0 }
.p20t{padding:20px 0 0 0 }
.p21t{padding:21px 0 0 0 }
.p22t{padding:22px 0 0 0 }
.p23t{padding:23px 0 0 0 }
.p24t{padding:24px 0 0 0 }
.p25t{padding:25px 0 0 0 }
.p26t{padding:26px 0 0 0 }
.p27t{padding:27px 0 0 0 }
.p28t{padding:28px 0 0 0 }
.p29t{padding:29px 0 0 0 }
.p30t{padding:30px 0 0 0 }
.p31t{padding:31px 0 0 0 }
.p32t{padding:32px 0 0 0 }
.p33t{padding:33px 0 0 0 }
.p34t{padding:34px 0 0 0 }
.p35t{padding:35px 0 0 0 }
.p36t{padding:36px 0 0 0 }
.p37t{padding:37px 0 0 0 }
.p38t{padding:38px 0 0 0 }
.p39t{padding:39px 0 0 0 }
.p40t{padding:40px 0 0 0 }
.p41t{padding:41px 0 0 0 }
.p42t{padding:42px 0 0 0 }
.p43t{padding:43px 0 0 0 }
.p44t{padding:44px 0 0 0 }
.p45t{padding:45px 0 0 0 }
.p46t{padding:46px 0 0 0 }
.p47t{padding:47px 0 0 0 }
.p48t{padding:48px 0 0 0 }
.p49t{padding:49px 0 0 0 }
.p50t{padding:50px 0 0 0 }
.m1b{margin:0 0 1px 0 }
.m2b{margin:0 0 2px 0 }
.m3b{margin:0 0 3px 0 }
.m4b{margin:0 0 4px 0 }
.m5b{margin:0 0 5px 0 }
.m6b{margin:0 0 6px 0 }
.m7b{margin:0 0 7px 0 }
.m8b{margin:0 0 8px 0 }
.m9b{margin:0 0 9px 0 }
.m10b{margin:0 0 10px 0 }
.m11b{margin:0 0 11px 0 }
.m12b{margin:0 0 12px 0 }
.m13b{margin:0 0 13px 0 }
.m14b{margin:0 0 14px 0 }
.m15b{margin:0 0 15px 0 }
.m16b{margin:0 0 16px 0 }
.m17b{margin:0 0 17px 0 }
.m18b{margin:0 0 18px 0 }
.m19b{margin:0 0 19px 0 }
.m20b{margin:0 0 20px 0 }
.m21b{margin:0 0 21px 0 }
.m22b{margin:0 0 22px 0 }
.m23b{margin:0 0 23px 0 }
.m24b{margin:0 0 24px 0 }
.m25b{margin:0 0 25px 0 }
.m26b{margin:0 0 26px 0 }
.m27b{margin:0 0 27px 0 }
.m28b{margin:0 0 28px 0 }
.m29b{margin:0 0 29px 0 }
.m30b{margin:0 0 30px 0 }
.m31b{margin:0 0 31px 0 }
.m32b{margin:0 0 32px 0 }
.m33b{margin:0 0 33px 0 }
.m34b{margin:0 0 34px 0 }
.m35b{margin:0 0 35px 0 }
.m36b{margin:0 0 36px 0 }
.m37b{margin:0 0 37px 0 }
.m38b{margin:0 0 38px 0 }
.m39b{margin:0 0 39px 0 }
.m40b{margin:0 0 40px 0 }
.m41b{margin:0 0 41px 0 }
.m42b{margin:0 0 42px 0 }
.m43b{margin:0 0 43px 0 }
.m44b{margin:0 0 44px 0 }
.m45b{margin:0 0 45px 0 }
.m46b{margin:0 0 46px 0 }
.m47b{margin:0 0 47px 0 }
.m48b{margin:0 0 48px 0 }
.m49b{margin:0 0 49px 0 }
.m50b{margin:0 0 50px 0 }
.p1b{padding:0 0 1px 0 }
.p2b{padding:0 0 2px 0 }
.p3b{padding:0 0 3px 0 }
.p4b{padding:0 0 4px 0 }
.p5b{padding:0 0 5px 0 }
.p6b{padding:0 0 6px 0 }
.p7b{padding:0 0 7px 0 }
.p8b{padding:0 0 8px 0 }
.p9b{padding:0 0 9px 0 }
.p10b{padding:0 0 10px 0 }
.p11b{padding:0 0 11px 0 }
.p12b{padding:0 0 12px 0 }
.p13b{padding:0 0 13px 0 }
.p14b{padding:0 0 14px 0 }
.p15b{padding:0 0 15px 0 }
.p16b{padding:0 0 16px 0 }
.p17b{padding:0 0 17px 0 }
.p18b{padding:0 0 18px 0 }
.p19b{padding:0 0 19px 0 }
.p20b{padding:0 0 20px 0 }
.p21b{padding:0 0 21px 0 }
.p22b{padding:0 0 22px 0 }
.p23b{padding:0 0 23px 0 }
.p24b{padding:0 0 24px 0 }
.p25b{padding:0 0 25px 0 }
.p26b{padding:0 0 26px 0 }
.p27b{padding:0 0 27px 0 }
.p28b{padding:0 0 28px 0 }
.p29b{padding:0 0 29px 0 }
.p30b{padding:0 0 30px 0 }
.p31b{padding:0 0 31px 0 }
.p32b{padding:0 0 32px 0 }
.p33b{padding:0 0 33px 0 }
.p34b{padding:0 0 34px 0 }
.p35b{padding:0 0 35px 0 }
.p36b{padding:0 0 36px 0 }
.p37b{padding:0 0 37px 0 }
.p38b{padding:0 0 38px 0 }
.p39b{padding:0 0 39px 0 }
.p40b{padding:0 0 40px 0 }
.p41b{padding:0 0 41px 0 }
.p42b{padding:0 0 42px 0 }
.p43b{padding:0 0 43px 0 }
.p44b{padding:0 0 44px 0 }
.p45b{padding:0 0 45px 0 }
.p46b{padding:0 0 46px 0 }
.p47b{padding:0 0 47px 0 }
.p48b{padding:0 0 48px 0 }
.p49b{padding:0 0 49px 0 }
.p50b{padding:0 0 50px 0 }
.m1lr{margin:0 1px}
.m2lr{margin:0 2px}
.m3lr{margin:0 3px}
.m4lr{margin:0 4px}
.m5lr{margin:0 5px}
.m6lr{margin:0 6px}
.m7lr{margin:0 7px}
.m8lr{margin:0 8px}
.m9lr{margin:0 9px}
.m10lr{margin:0 10px}
.m11lr{margin:0 11px}
.m12lr{margin:0 12px}
.m13lr{margin:0 13px}
.m14lr{margin:0 14px}
.m15lr{margin:0 15px}
.m16lr{margin:0 16px}
.m17lr{margin:0 17px}
.m18lr{margin:0 18px}
.m19lr{margin:0 19px}
.m20lr{margin:0 20px}
.m21lr{margin:0 21px}
.m22lr{margin:0 22px}
.m23lr{margin:0 23px}
.m24lr{margin:0 24px}
.m25lr{margin:0 25px}
.m26lr{margin:0 26px}
.m27lr{margin:0 27px}
.m28lr{margin:0 28px}
.m29lr{margin:0 29px}
.m30lr{margin:0 30px}
.m31lr{margin:0 31px}
.m32lr{margin:0 32px}
.m33lr{margin:0 33px}
.m34lr{margin:0 34px}
.m35lr{margin:0 35px}
.m36lr{margin:0 36px}
.m37lr{margin:0 37px}
.m38lr{margin:0 38px}
.m39lr{margin:0 39px}
.m40lr{margin:0 40px}
.m41lr{margin:0 41px}
.m42lr{margin:0 42px}
.m43lr{margin:0 43px}
.m44lr{margin:0 44px}
.m45lr{margin:0 45px}
.m46lr{margin:0 46px}
.m47lr{margin:0 47px}
.m48lr{margin:0 48px}
.m49lr{margin:0 49px}
.m50lr{margin:0 50px}
.p1lr{padding:0 1px}
.p2lr{padding:0 2px}
.p3lr{padding:0 3px}
.p4lr{padding:0 4px}
.p5lr{padding:0 5px}
.p6lr{padding:0 6px}
.p7lr{padding:0 7px}
.p8lr{padding:0 8px}
.p9lr{padding:0 9px}
.p10lr{padding:0 10px}
.p11lr{padding:0 11px}
.p12lr{padding:0 12px}
.p13lr{padding:0 13px}
.p14lr{padding:0 14px}
.p15lr{padding:0 15px}
.p16lr{padding:0 16px}
.p17lr{padding:0 17px}
.p18lr{padding:0 18px}
.p19lr{padding:0 19px}
.p20lr{padding:0 20px}
.p21lr{padding:0 21px}
.p22lr{padding:0 22px}
.p23lr{padding:0 23px}
.p24lr{padding:0 24px}
.p25lr{padding:0 25px}
.p26lr{padding:0 26px}
.p27lr{padding:0 27px}
.p28lr{padding:0 28px}
.p29lr{padding:0 29px}
.p30lr{padding:0 30px}
.p31lr{padding:0 31px}
.p32lr{padding:0 32px}
.p33lr{padding:0 33px}
.p34lr{padding:0 34px}
.p35lr{padding:0 35px}
.p36lr{padding:0 36px}
.p37lr{padding:0 37px}
.p38lr{padding:0 38px}
.p39lr{padding:0 39px}
.p40lr{padding:0 40px}
.p41lr{padding:0 41px}
.p42lr{padding:0 42px}
.p43lr{padding:0 43px}
.p44lr{padding:0 44px}
.p45lr{padding:0 45px}
.p46lr{padding:0 46px}
.p47lr{padding:0 47px}
.p48lr{padding:0 48px}
.p49lr{padding:0 49px}
.p50lr{padding:0 50px}
.m1tb{margin:1px 0}
.m2tb{margin:2px 0}
.m3tb{margin:3px 0}
.m4tb{margin:4px 0}
.m5tb{margin:5px 0}
.m6tb{margin:6px 0}
.m7tb{margin:7px 0}
.m8tb{margin:8px 0}
.m9tb{margin:9px 0}
.m10tb{margin:10px 0}
.m11tb{margin:11px 0}
.m12tb{margin:12px 0}
.m13tb{margin:13px 0}
.m14tb{margin:14px 0}
.m15tb{margin:15px 0}
.m16tb{margin:16px 0}
.m17tb{margin:17px 0}
.m18tb{margin:18px 0}
.m19tb{margin:19px 0}
.m20tb{margin:20px 0}
.m21tb{margin:21px 0}
.m22tb{margin:22px 0}
.m23tb{margin:23px 0}
.m24tb{margin:24px 0}
.m25tb{margin:25px 0}
.m26tb{margin:26px 0}
.m27tb{margin:27px 0}
.m28tb{margin:28px 0}
.m29tb{margin:29px 0}
.m30tb{margin:30px 0}
.m31tb{margin:31px 0}
.m32tb{margin:32px 0}
.m33tb{margin:33px 0}
.m34tb{margin:34px 0}
.m35tb{margin:35px 0}
.m36tb{margin:36px 0}
.m37tb{margin:37px 0}
.m38tb{margin:38px 0}
.m39tb{margin:39px 0}
.m40tb{margin:40px 0}
.m41tb{margin:41px 0}
.m42tb{margin:42px 0}
.m43tb{margin:43px 0}
.m44tb{margin:44px 0}
.m45tb{margin:45px 0}
.m46tb{margin:46px 0}
.m47tb{margin:47px 0}
.m48tb{margin:48px 0}
.m49tb{margin:49px 0}
.m50tb{margin:50px 0}
.p1tb{padding:1px 0}
.p2tb{padding:2px 0}
.p3tb{padding:3px 0}
.p4tb{padding:4px 0}
.p5tb{padding:5px 0}
.p6tb{padding:6px 0}
.p7tb{padding:7px 0}
.p8tb{padding:8px 0}
.p9tb{padding:9px 0}
.p10tb{padding:10px 0}
.p11tb{padding:11px 0}
.p12tb{padding:12px 0}
.p13tb{padding:13px 0}
.p14tb{padding:14px 0}
.p15tb{padding:15px 0}
.p16tb{padding:16px 0}
.p17tb{padding:17px 0}
.p18tb{padding:18px 0}
.p19tb{padding:19px 0}
.p20tb{padding:20px 0}
.p21tb{padding:21px 0}
.p22tb{padding:22px 0}
.p23tb{padding:23px 0}
.p24tb{padding:24px 0}
.p25tb{padding:25px 0}
.p26tb{padding:26px 0}
.p27tb{padding:27px 0}
.p28tb{padding:28px 0}
.p29tb{padding:29px 0}
.p30tb{padding:30px 0}
.p31tb{padding:31px 0}
.p32tb{padding:32px 0}
.p33tb{padding:33px 0}
.p34tb{padding:34px 0}
.p35tb{padding:35px 0}
.p36tb{padding:36px 0}
.p37tb{padding:37px 0}
.p38tb{padding:38px 0}
.p39tb{padding:39px 0}
.p40tb{padding:40px 0}
.p41tb{padding:41px 0}
.p42tb{padding:42px 0}
.p43tb{padding:43px 0}
.p44tb{padding:44px 0}
.p45tb{padding:45px 0}
.p46tb{padding:46px 0}
.p47tb{padding:47px 0}
.p48tb{padding:48px 0}
.p49tb{padding:49px 0}
.p50tb{padding:50px 0}
.wa{width:auto}
.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w25{width:25%}
.w30{width:30%}
.w35{width:35%}
.w40{width:40%}
.w45{width:45%}
.w50{width:50%}
.w55{width:55%}
.w60{width:60%}
.w65{width:65%}
.w70{width:70%}
.w75{width:75%}
.w80{width:80%}
.w85{width:85%}
.w90{width:90%}
.w95{width:95%}
.w96{width:96%}
.w97{width:97%}
.w98{width:98%}
.w99{width:99%}
.full{width:100%}
.ws50{width:50px}
.ws60{width:60px}
.ws70{width:70px}
.ws80{width:80px}
.ws90{width:90px}
.ws100{width:100px}
.ws110{width:110px}
.ws120{width:120px}
.ws130{width:130px}
.ws140{width:140px}
.ws150{width:150px}
.ws160{width:160px}
.ws170{width:170px}
.ws180{width:180px}
.ws190{width:190px}
.ws200{width:200px}
.ws210{width:210px}
.ws220{width:220px}
.ws230{width:230px}
.ws240{width:240px}
.ws250{width:250px}
.ws260{width:260px}
.ws270{width:270px}
.ws280{width:280px}
.ws290{width:290px}
.ws300{width:300px}
.ws310{width:310px}
.ws320{width:320px}
.ws330{width:330px}
.ws340{width:340px}
.ws350{width:350px}
.ws360{width:360px}
.ws370{width:370px}
.ws380{width:380px}
.ws390{width:390px}
.ws400{width:400px}
.ws410{width:410px}
.ws420{width:420px}
.ws430{width:430px}
.ws440{width:440px}
.ws450{width:450px}
.ws460{width:460px}
.ws470{width:470px}
.ws480{width:480px}
.ws490{width:490px}
.ws500{width:500px}
.ws510{width:510px}
.ws520{width:520px}
.ws530{width:530px}
.ws540{width:540px}
.ws550{width:550px}
.ws560{width:560px}
.ws570{width:570px}
.ws580{width:580px}
.ws590{width:590px}
.ws600{width:600px}
.ws610{width:610px}
.ws620{width:620px}
.ws630{width:630px}
.ws640{width:640px}
.ws650{width:650px}
.ws660{width:660px}
.ws670{width:670px}
.ws680{width:680px}
.ws690{width:690px}
.ws700{width:700px}
.ws710{width:710px}
.ws720{width:720px}
.ws730{width:730px}
.ws740{width:740px}
.ws750{width:750px}
.ws760{width:760px}
.ws770{width:770px}
.ws780{width:780px}
.ws790{width:790px}
.ws800{width:800px}
.ws810{width:810px}
.ws820{width:820px}
.ws830{width:830px}
.ws840{width:840px}
.ws850{width:850px}
.ws860{width:860px}
.ws870{width:870px}
.ws880{width:880px}
.ws890{width:890px}
.ws900{width:900px}
.ws910{width:910px}
.ws920{width:920px}
.ws930{width:930px}
.ws940{width:940px}
.ws950{width:950px}
.ws960{width:960px}
.ws970{width:970px}
.ws980{width:980px}
.ws990{width:990px}
.ws1000{width:1000px}
.ws1010{width:1010px}
.ws1020{width:1020px}
.hs50{height:50px}
.hs60{height:60px}
.hs70{height:70px}
.hs80{height:80px}
.hs90{height:90px}
.hs100{height:100px}
.hs110{height:110px}
.hs120{height:120px}
.hs130{height:130px}
.hs140{height:140px}
.hs150{height:150px}
.hs160{height:160px}
.hs170{height:170px}
.hs180{height:180px}
.hs190{height:190px}
.hs200{height:200px}
.hs210{height:210px}
.hs220{height:220px}
.hs230{height:230px}
.hs240{height:240px}
.hs250{height:250px}
.hs260{height:260px}
.hs270{height:270px}
.hs280{height:280px}
.hs290{height:290px}
.hs300{height:300px}
.hs310{height:310px}
.hs320{height:320px}
.hs330{height:330px}
.hs340{height:340px}
.hs350{height:350px}
.hs360{height:360px}
.hs370{height:370px}
.hs380{height:380px}
.hs390{height:390px}
.hs400{height:400px}
.hs410{height:410px}
.hs420{height:420px}
.hs430{height:430px}
.hs440{height:440px}
.hs450{height:450px}
.hs460{height:460px}
.hs470{height:470px}
.hs480{height:480px}
.hs490{height:490px}
.hs500{height:500px}
.hs510{height:510px}
.hs520{height:520px}
.hs530{height:530px}
.hs540{height:540px}
.hs550{height:550px}
.hs560{height:560px}
.hs570{height:570px}
.hs580{height:580px}
.hs590{height:590px}
.hs600{height:600px}
.hs610{height:610px}
.hs620{height:620px}
.hs630{height:630px}
.hs640{height:640px}
.hs650{height:650px}
.hs660{height:660px}
.hs670{height:670px}
.hs680{height:680px}
.hs690{height:690px}
.hs700{height:700px}
.hs710{height:710px}
.hs720{height:720px}
.hs730{height:730px}
.hs740{height:740px}
.hs750{height:750px}
.hs760{height:760px}
.hs770{height:770px}
.hs780{height:780px}
.hs790{height:790px}
.hs800{height:800px}
.hs810{height:810px}
.hs820{height:820px}
.hs830{height:830px}
.hs840{height:840px}
.hs850{height:850px}
.hs860{height:860px}
.hs870{height:870px}
.hs880{height:880px}
.hs890{height:890px}
.hs900{height:900px}
.hs910{height:910px}
.hs920{height:920px}
.hs930{height:930px}
.hs940{height:940px}
.hs950{height:950px}
.hs960{height:960px}
.hs970{height:970px}
.hs980{height:980px}
.hs990{height:990px}
.hs1000{height:1000px}
.hs1010{height:1010px}
.hs1020{height:1020px}

